body{
    margin: 0;
    padding-top: 80px;
    background-color: rgb(248, 248, 248);
}


.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(58, 57, 57);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(241, 241, 241);
    z-index: 1;
}

.logo-section,
.cart-section {
    width: 200px;
    display: flex;
    align-items: center;
}

.logo-section{
    margin-left: 20px;
}

.logo-img{
    width: 90px;
    height: 30px;
}

.cart-section{
    margin-right: 10px;
}
.cart-img{
    width: 40px;
    height: 30px;
}
.middle-section{
    flex: 1;
    display: flex;
    max-width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}
.menu{
    color: rgb(228, 32, 32);
    margin-right: 20px;

}
.deals{
    opacity: 50%;
    transition: opacity 1.15s;
    margin-left: 20px;
    text-decoration: none;
}

.deals:hover{
    color: red;
    opacity: 1;;
}

/* filters */ 

.filters{
    width: 100%;
    background-color: #e0eaef;
    height: 70px;
    position: fixed;
    left: 0;
    right: 0;
    top: 1;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.filters a{
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    padding: 40px;
    font-weight: 700;
    padding-left: 20px;
}
.filters img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.filters div{
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}


.btn-container{
    display: flex;
    justify-content: space-around;
}

/* menu grid */ 

.menu-grid{
    display: grid;
    column-gap: 30px;
    row-gap: 40px;
    margin-bottom: 100px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 100px;
    @media (min-width: 600px) {
        grid-template-columns: 1fr 1fr 1fr; /* Adjust for medium screens */
    }

    @media (min-width: 1000px) {
        grid-template-columns: 1fr 1fr 1fr 1fr ; /* Adjust for large screens */
    }
}



.menu-img-container{
    margin-bottom: 0px;
}
.menu-img{
    width: 100%;
}
.menu-info-container{
    background-color: #C9EAFB;
    box-shadow: 0px 4px 8px rgb(63, 63, 63);
}
.menu-title-desc{
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    font-weight: 400;
    padding-top: 20px;
    padding-left: 10px;
    
}
.menu-title{
    margin: 0; 
    
    font-family: Roboto;
    font-size: 18px !important;
    font-weight: 700;
    margin-left: 5px;
    font-size: 16px;
}
.menu-desc{
    margin-top: 5px;
    padding: 0; 
    font-size: 14px; 
    padding-top: 5px;
    margin-left: 5px;
}
.counter-price{
    display: grid;
    grid-template-columns: 70% 1fr;
    align-items: center;
    justify-content: space-between;
}

.counter {
    display: flex;
    align-items: center;
}

.increment,
.decrement {
    height: 30px;
    width: 60px;
    padding: 0 6px;
    border-radius: 2px;
    font-size: 20px;
    font-weight: bolder;
    background-color: #C8DADE;
    border: 2px solid #030303;
    color: black;
    margin: 20px;
    margin-left: 10px;
    border-radius: 4px;
    transition: background-color 0.5s ease-in-out;
    cursor: pointer;
    ;
}
.increment:active,
.decrement:active{
    background-color: #9fabad;
    border: 0.5px solid;
}

.decrement:disabled{
    opacity: 0.5;
}

.counterValue {
    height: 30px;
    min-width: 70px;
    border-radius: 6px;
    background-color: #C8DADE;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-btn{
    width: 100%;
    height: 46px;
    margin-top: 10px;
    padding: 10px 15px;
    font-family: Grandstander;
    font-weight: 700;
    font-size: 16px;
    background-color: #E2730C;
    color: black;
    border: 2px solid black;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cart-btn:hover{
    background-color: #b7b925;
}
